
<div
  id="sifter-dashboard"
  data-pw-hash="{{ 'RocaDash2026!' | sha256 }}"
></div>


{% schema %}
{
  "name": "Sifter Dashboard",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Sifter Dashboard"
    }
  ]
}
{% endschema %}