<div class="w-full bg-[gainsboro] py-[10rem]">
  <div class="page-width">
    {{ 'icon-quote.svg' | inline_asset_content }}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget est interdum, tempor velit a, 
        malesuada lectus. Etiam sed magna porttitor, fermentum nulla et, accumsan ipsum. Fusce at maximus diam. 
        Sed rutrum lacus non mauris luctus consectetur. Duis rutrum tellus at enim faucibus ultricies a ut justo. 
    </p>
    <div>
        <p>Kris Chery</p>
        <p>2150 Design</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonials",
  "settings": [],
  "presets": [
    {
     "name": "Testimonials"
    }
  ]
}
{% endschema %}