/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/css/tailwind.css ***!
  \******************************************************************************************************************/
.tw-col-span-3 {
    grid-column: span 3 / span 3
}
.tw-col-span-4 {
    grid-column: span 4 / span 4
}
.\!tw-m-0 {
    margin: 0px !important
}
.tw-m-0 {
    margin: 0px
}
.tw-mx-auto {
    margin-left: auto;
    margin-right: auto
}
.tw-my-0 {
    margin-top: 0px;
    margin-bottom: 0px
}
.\!tw-mb-2 {
    margin-bottom: 0.5rem !important
}
.\!tw-mt-\[3rem\] {
    margin-top: 3rem !important
}
.tw-mb-2 {
    margin-bottom: 0.5rem
}
.tw-mt-2 {
    margin-top: 0.5rem
}
.tw-mt-5 {
    margin-top: 1.25rem
}
.tw-mt-\[4rem\] {
    margin-top: 4rem
}
.tw-block {
    display: block
}
.tw-flex {
    display: flex
}
.tw-grid {
    display: grid
}
.\!tw-hidden {
    display: none !important
}
.tw-hidden {
    display: none
}
.tw-h-\[24px\] {
    height: 24px
}
.tw-w-\[24px\] {
    width: 24px
}
.tw-w-full {
    width: 100%
}
.tw-cursor-not-allowed {
    cursor: not-allowed
}
.tw-cursor-pointer {
    cursor: pointer
}
.tw-list-none {
    list-style-type: none
}
.tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}
.tw-flex-col {
    flex-direction: column
}
.tw-items-center {
    align-items: center
}
.tw-justify-center {
    justify-content: center
}
.tw-gap-1 {
    gap: 0.25rem
}
.tw-gap-2 {
    gap: 0.5rem
}
.tw-gap-4 {
    gap: 1rem
}
.tw-gap-\[1\.5rem\] {
    gap: 1.5rem
}
.tw-rounded-\[8px\] {
    border-radius: 8px
}
.tw-rounded-full {
    border-radius: 9999px
}
.\!tw-border-t-0 {
    border-top-width: 0px !important
}
.tw-border-none {
    border-style: none
}
.tw-bg-\[\#0835DB\] {
    --tw-bg-opacity: 1;
    background-color: rgb(8 53 219 / var(--tw-bg-opacity, 1))
}
.tw-bg-\[\#595959\] {
    --tw-bg-opacity: 1;
    background-color: rgb(89 89 89 / var(--tw-bg-opacity, 1))
}
.tw-bg-\[\#EEEFF0\] {
    --tw-bg-opacity: 1;
    background-color: rgb(238 239 240 / var(--tw-bg-opacity, 1))
}
.tw-bg-\[\#F7FAFF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(247 250 255 / var(--tw-bg-opacity, 1))
}
.tw-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}
.tw-bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1))
}
.\!tw-p-0 {
    padding: 0px !important
}
.tw-p-0 {
    padding: 0px
}
.tw-p-3 {
    padding: 0.75rem
}
.tw-px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.tw-px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px
}
.tw-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.tw-py-\[8px\] {
    padding-top: 8px;
    padding-bottom: 8px
}
.tw-py-\[8rem\] {
    padding-top: 8rem;
    padding-bottom: 8rem
}
.\!tw-pb-0 {
    padding-bottom: 0px !important
}
.\!tw-pt-0 {
    padding-top: 0px !important
}
.tw-text-center {
    text-align: center
}
.tw-font-sans {
    font-family: Inter, sans-serif
}
.\!tw-text-\[14px\] {
    font-size: 14px !important
}
.\!tw-text-base {
    font-size: 16px !important
}
.\!tw-text-xs {
    font-size: 12.5px !important
}
.tw-text-\[15px\] {
    font-size: 15px
}
.tw-text-\[22px\] {
    font-size: 22px
}
.tw-text-\[34px\] {
    font-size: 34px
}
.tw-text-base {
    font-size: 16px
}
.tw-text-lg {
    font-size: 25px
}
.tw-text-xs {
    font-size: 12.5px
}
.tw-font-\[400\] {
    font-weight: 400
}
.tw-font-\[600\] {
    font-weight: 600
}
.tw-font-bold {
    font-weight: 700
}
.tw-font-normal {
    font-weight: 400
}
.tw-leading-\[125\%\] {
    line-height: 125%
}
.tw-leading-\[135\%\] {
    line-height: 135%
}
.tw-leading-\[155\%\] {
    line-height: 155%
}
.\!tw-tracking-\[0\.14px\] {
    letter-spacing: 0.14px !important
}
.tw-tracking-\[-0\.15px\] {
    letter-spacing: -0.15px
}
.tw-tracking-\[-0\.34px\] {
    letter-spacing: -0.34px
}
.tw-tracking-\[0\.16px\] {
    letter-spacing: 0.16px
}
.tw-tracking-\[0\.44px\] {
    letter-spacing: 0.44px
}
.tw-tracking-\[0\.5px\] {
    letter-spacing: 0.5px
}
.tw-tracking-\[150\%\] {
    letter-spacing: 150%
}
.tw-text-\[\#000\] {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}
.tw-text-\[\#767676\] {
    --tw-text-opacity: 1;
    color: rgb(118 118 118 / var(--tw-text-opacity, 1))
}
.tw-text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}
.tw-text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity, 1))
}
.tw-text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}
.hover\:tw-bg-black:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}
.hover\:tw-bg-gray-300:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1))
}
.disabled\:tw-bg-gray-400:disabled {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1))
}
.disabled\:tw-text-black:disabled {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}
@media (min-width: 640px) {
    .sm\:\!tw-px-\[15px\] {
        padding-left: 15px !important;
        padding-right: 15px !important
    }
    .sm\:\!tw-py-\[20px\] {
        padding-top: 20px !important;
        padding-bottom: 20px !important
    }
}
@media (min-width: 768px) {
    .md\:tw-col-span-1 {
        grid-column: span 1 / span 1
    }
    .md\:tw-mt-5 {
        margin-top: 1.25rem
    }
    .md\:tw-block {
        display: block
    }
    .md\:tw-justify-center {
        justify-content: center
    }
    .md\:tw-gap-\[2rem\] {
        gap: 2rem
    }
    .md\:tw-p-0 {
        padding: 0px
    }
    .md\:tw-text-center {
        text-align: center
    }
}

/*# sourceMappingURL=tailwind.css.map*/